 * {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
 }

 body {
     background: #222;
     color: #fff;
 }

 .card {
     width: 90%;
     max-width: 470px;
     background: linear-gradient(135deg, #1895dd, #968cf4);
     margin: 100px auto 0;
     border-radius: 20px;
     padding: 40px 35px;
     text-align: center;
 }

 .search {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .search input {
     border: 0;
     outline: 0;
     background: #ebfffc;
     color: #555;
     padding: 10px 25px;
     height: 60px;
     border-radius: 30px;
     flex: 1;
     margin-right: 16px;
     font-size: 18px;
 }

 .search button {
     border: 0;
     outline: 0;
     background: #ebfffc;
     border-radius: 50%;
     width: 60px;
     height: 60px;
     cursor: pointer;
 }

 .search button img {
     width: 26px;
     height: 40px;
 }

 .weather {
     display: none;
     text-align: center;
 }

 .weather-icon {
     width: 170px;
     margin-top: 30px;
 }

 .weather h1 {
     font-size: 80px;
     font-weight: 500;
     margin-top: 30px;
     /* Adjusted margin for spacing */
 }

 .weather h2 {
     font-size: 45px;
     font-weight: 400;
     margin-top: -10px;
     /* Adjusted margin for spacing */
 }

 .details {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 20px;
     margin-top: 50px;
 }

 .col {
     display: flex;
     align-items: center;
     text-align: left;
 }

 .col img {
     width: 100px;
     margin-right: 5px;
 }

 @media (max-width: 600px) {
     .card {
         padding: 20px;
     }

     .search input {
         height: 50px;
         padding: 8px 20px;
         font-size: 16px;
         margin-right: 10px;
     }

     .search button {
         width: 50px;
         height: 50px;
     }

     .search button img {
         width: 20px;
         height: 30px;
     }

     .weather-icon {
         width: 120px;
         height: auto;
     }

         @media (max-width: 600px) {
             .weather h1 {
                 font-size: 50px;
                 margin-top: 20px;
                 /* Adjusted margin for spacing */
             }
    
             .weather h2 {
                 font-size: 30px;
                 margin-top: -5px;
                 /* Adjusted margin for spacing */
             }
         }

     .details {
         flex-direction: column;
         align-items: center;
     }


     

     .col {
         margin-bottom: 20px;
         flex-direction: column;
         align-items: center;
     }

     .col img {
         width: 60px;
         margin-bottom: 10px;
     }
 }